@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
   
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-weight: 600;
    
}



.background-image {
    
   

    background-image: url("./images/bg1.jpg"); 
   
     display: block;
     width: 100%;
    background-size: cover;
    
    position: absolute;
    min-height: 750px;
    z-index: -1;
  }
  

.col ,.row{
    padding: 0;
    margin: 0;
}


.forcast{
    display: flex;
    overflow-x: auto;
}

 
@media only screen and (max-width: 600px){
    
    #bg-text {
        width: 70%;

      }
    .weather{
          overflow-x: auto;
      }
    .temp_status{
        width: 00%;
    }
    .other{
        max-width: 200px;
    }
   
      
      
   
}
@media only screen and (max-width: 800px){
    #bg-text h2{
        margin-left: 70px;
    }
    #bg-text {
        margin-left: 20px;
        width: 80%;
      }
    *{
          font-weight: 100;

      }
      
}
@media only screen and (max-width: 1350px){
    .background-image{
        min-height: 1000px;
    }
}
@media only screen and (max-width: 1050px){
    .background-image{
        min-height: 1100px;
    }
}
@media only screen and (max-width: 800px){
    .background-image{
        min-height: 1500px;
    }
}