@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
   
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-weight: 600;
    
}


body{
   
   
    /* background-image: url("G:\weather-app\src\Components\bg1.jpg"); */
   
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;

  
   
     
     
}

.col ,.row{
    padding: 0;
    margin: 0;
}


.forcast{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}


.col .offset-md-1{
    width: 100%;
}

  /* Small Devices, Tablets */

